[package]
name = "spdk-core"
version = "0.1.0"
edition = "2021"
repository.workspace = true

[lib]
crate-type = ["lib", "staticlib", "cdylib"]

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
bitcoin.workspace = true
futures.workspace = true
serde.workspace = true
silentpayments.workspace = true
rayon.workspace = true
log.workspace = true
hex.workspace = true
bdk_coin_select.workspace = true
