[package]
name = "spdk-core"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["lib", "staticlib", "cdylib"]

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
bitcoin = { version = "0.31.1", features = ["serde", "rand", "base64"] }
futures = "0.3"
serde = { version = "1.0.188", features = ["derive"] }
silentpayments = "0.4"
